<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.biz.order.dao.OrderDao">
 
 	<select id="selectAll"></select>
 	
 	<select id="findBySeq" resultType="OrderVO">
 		SELECT * FROM tbl_order WHERE o_seq = #{seq}
 	</select>
 	
 	<insert id="insert"></insert>
 	<update id="update"></update>
 	<delete id="delete"></delete>
 
 </mapper> 