@charset "UTF-8";
<<<<<<< HEAD
=======

>>>>>>> 097dbe2c03d4f463c1cda3baf7880b1f008e2a33
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	padding: 2rem;
	background-color: green;
	text-align: center;
	margin-bottom: 0px;
}

nav.main-nav ul {
	display: flex;
	list-style: none;
	background-color: blue;
	color: white;
<<<<<<< HEAD
	align-items: center
=======
>>>>>>> 097dbe2c03d4f463c1cda3baf7880b1f008e2a33
}

nav.main-nav li {
	cursor: pointer;
<<<<<<< HEAD
	padding: 8px;
	vertical-align: middle
=======
	padding: 0.5rem;
>>>>>>> 097dbe2c03d4f463c1cda3baf7880b1f008e2a33
}

nav.main-nav li:nth-child(2), nav.main-nav li:nth-child(3) {
	margin-left: auto;
}

nav.main-nav li:hover {
	background-color: gray;
	color: blue;
}

<<<<<<< HEAD
nav.main-nav input {
	padding:8px;
	border-radius: 5px;
	display: line-block;
	width:500px;
}

table.hosp-list {
	border-collapse: collapse;
	border-spacing: 0;
	width: 90%;
	border: 1px solid #ccc;
	margin: 20px auto;
}

table.hosp-list th {
	text-align: left
}

table.hosp-list tr {
	border: 1px solid #ddd;
}

table.hosp-list tr:nth-child(even) {
	background-color: #ccc;
}

table.hosp-list tr:nth-child(odd) {
	background-color: #fff;
}

table.hosp-list tr:hover {
	background-color: #ddd;
	cursor: pointer;
}

table.hosp-list td, table.hosp-list th {
	padding: 8px;
	vertical-align: top;
	white-space: nowrap; /* table의 text를 줄바꿈하지 말라 */
}
=======
nav.main-nav input,
nav.main-nav select {
	width:200px;
	border-radius: 5px;
	padding:5px;
}


>>>>>>> 097dbe2c03d4f463c1cda3baf7880b1f008e2a33
