@charset "UTF-8";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	padding: 2rem;
	background-color: green;
	text-align: center;
	margin-bottom: 0px;
}

nav.main-nav ul {
	display: flex;
	list-style: none;
	background-color: blue;
	color: white;
	align-items: center
}

nav.main-nav li {
	cursor: pointer;
	padding: 8px;
	vertical-align: middle
}

nav.main-nav li:nth-child(2), nav.main-nav li:nth-child(3) {
	margin-left: auto;
}

nav.main-nav li:hover {
	background-color: gray;
	color: blue;
}

nav.main-nav input {
	padding:8px;
	border-radius: 5px;
	display: line-block;
	width:500px;
}
nav.main-nav input,
nav.main-nav select {
	width:200px;
	border-radius: 5px;
	padding:5px;
}

section.main-body {
	display: flex;
}

article.station-list,
article.busstop-list {
	flex:1 50%;
	margin:5px 2px;
	border:1px solid blue;
}

