@charset "UTF-8";

table.bis {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ccc;
	
	/* 
	table layout에서 문자열의 길이에 따라
	테이블의 좌우 폭이 달라지는 것을 방지하기
	*/
	width:98%;
	table-layout: fixed;
	margin:2px auto;
}

table.bis th {
	text-align: left;
}



table.bis tr:nth-child(even) {
	background-color: #ccc;
}
table.bis tr:nth-child(odd) {
	background-color: #fff;
}

table.bis tr:hover {
	background-color: #ddd;
	cursor: pointer;
}

table.bis td, table.bis th {
	padding: 8px;
	vertical-align: top;
	white-space: nowrap; /* table의 text를 줄바꿈하지 말라 */
	
}

table.bis td {
	width: 20px;
	text-align: left;
	
	/* 문자열이 넘칠경우 문자... 처럼 표시하게 하는 효과 */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

table.bis td:hover {
	
	overflow: visible;
	
}



