<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="3 seconds">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n
            </pattern>
        </layout>
    </appender>
	<!-- 
	level 순위 : 순위를 설정하면 하위 순위의 method는 무시된다.
		FATAL : log.fatal()
		ERROR : log.error()
		WARN : log.warn()
		INFO : log.info()
		DEBUG : log.debug()
		TRACE : log.trace()
	-->
    <logger name="org.springframework" level="WARN" />
    <logger name="org.mybatis">
    	<level value="INFO"/>
    </logger>
    <logger name="com.biz.blog">
    	<level value="DEBUG"/>
    </logger>
	<root level="WARN">
        <appender-ref ref="console"/>
    </root>
</configuration>    