@charset "UTF-8";
table#book-list {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  border: 1px solid #aaa;
  margin: 30px auto;
}

table#book-list th,
table#book-list td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

table#book-list td {
  cursor: pointer;
}

table#book-list tr:nth-child(even) {
  background-color: #f1f1f1;
}
table#book-list tr:nth-child(odd) {
  background-color: #fff;
}

/* 
An+2 공식으로 계산되는 결과에 따라 선택된다 
어떤 같은 tag가 연속적으로 나올때 tag의 개수만큼 n : 0 ~ 개수 -1 증가 속성
3n+2 : (0, 3, 6, 8...) + 2
*/
table#book-list tr:nth-child(n + 2):hover {
  background-color: #ccc;
}

div#book-link-box {
  width: 90%;
  margin: 10px auto;
  text-align: right;
}

div#book-link-box a {
  display: inline-block;
  padding: 10px 15px;
  background-color: blue;
  color: white;
  text-decoration: none;

  border-radius: 5px;
}

div#book-link-box a:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
