<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.biz.order.dao.OrderDao">
 
 	<select id="selectAll" resultType="OrderVO">
 		SELECT * FROM tbl_order ORDER BY o_seq
 	</select>
 	
 	<select id="findBySeq" resultType="OrderVO">
 		SELECT * FROM tbl_order WHERE o_seq = #{seq}
 	</select>
 	
 	<insert id="insert" parameterType="OrderVO">
 		INSERT INTO tbl_order (
		 		O_SEQ,
				O_NUM,
				O_DATE,
				O_CNUM,
				O_PCODE,
				O_PRICE,
				O_QTY,
				O_TOTAL
 		) VALUES (
		 		SEQ_ORDER.NEXTVAL,
				#{o_num},
				#{o_date},
				#{o_cnum},
				#{o_pcode},
				#{o_price},
				#{o_qty},
				#{o_total}
 		)
 	</insert>
 	<update id="update"></update>
 	<delete id="delete">
 		DELETE FROM tbl_order WHERE o_seq = #{seq}
 	</delete>
 
 </mapper> 