<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.biz.book.mapper.BookDao">
 
 	<select id="selectAll" resultType="BookVO">
 		SELECT * FROM tbl_books
 	</select>
 	<select id="findById" resultType="BookVO">
 		SELECT * FROM tbl_books WHERE seq = #{seq}
 	</select>
 	<insert id="insert"></insert>
 	<update id="update"></update>
 	<delete id="delete"></delete>
 
 </mapper> 