<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.biz.ems.mapper.EmsDao">
 	<insert id="insert">
	 	INSERT INTO tbl_ems(
		 	ID,
			FROM_EMAIL,
			TO_EMAIL,
			S_DATE,
			S_TIME,
			S_SUBJECT,
			S_CONTENT,
			S_FILE1,
			S_FILE2
		) VALUES (
		 	SEQ_EMS.NEXTVAL,
			#{from_email},
			#{to_email},
			#{s_date,jdbcType=VARCHAR},
			#{s_time},
			#{s_subject},
			#{s_content},
			#{s_file1},
			#{s_file2}
		)
 	</insert>
 	<update id="update">
	 	UPDATE tbl_ems SET
			from_email 	=	#{from_email},
			to_email 	=	#{to_email},
			s_date 		=	#{s_date},
			s_time 		=	#{s_time},
			s_subject 	=	#{s_subject},
			s_content 	=	#{s_content},
			s_file1 	=	#{s_file1},
			s_file2 	=	#{s_file2}
		WHERE id 		=	#{id}
 	</update>
 	
 	
 </mapper>